.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .header {
    border-bottom: 1px solid rgb(184, 20, 20);
    margin: 25px 0;
}

.container .header h1 {
    margin: 10px 0;
    color: #1a73e8;
}

.container .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    background: #ffffff;
    border-radius: 10px;
    padding: 25px;
}

.container .main img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.container .main h3 {
    color: #1052a8;
}

.container .main h4 {
    color: #d15252;
    margin: 0;
}

.container .main p {
    width: 300px;
    text-align: center;
    margin: 25px 0;
}

.slider button {
    border: none;
    background: transparent;
    padding: 5px 10px;
}

.slider button svg {
    cursor: pointer;
    font-size: 15px;
    color: #d15252;
}

@media (max-width: 600px) {
    .container .main {
        width: 300px;
    }

    .container .main img {
        width: 80px;
        height: 80px;
    }

    .container .main p {
        width: 200px;
    }
}

@media (max-width: 400px) {
    .container .main {
        width: 200px;
    }

    .container .main img {
        width: 70px;
        height: 70px;
    }

    .container .main p {
        width: 150px;
    }
}